<section class="container py-5">
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10">
  <div class="card shadow-sm rounded-4 p-4">
    <h2 class="mb-3 fw-semibold">Car Explorer</h2>
    <div class="mb-4">
  <app-car-filter
 (filterChange)="onUpdateFilteredCars($event)"
 (searchQuery)="onSearch($event)"
  ></app-car-filter>
    </div>

    <div class=" row g-3">
      <div class="col-lg-7">
    <app-car-list [cars]="cars$ | async"
                  [selectedCarId]="selectedCarId$ | async"
                  (selectedCar)="selectCar($event)"
                  [favouriteIds]="_favouriteService.favourites$ | async"
                  (toggleFavourite)="onToggleFavourite($event)"
    ></app-car-list>
      </div>
  @if (selectedCar$ | async; as selectCar) {
      <div class="col-lg-5">
        <app-car-details [car]="selectCar "
                   (toggleFavourite)="onToggleFavourite($event)"
                     (deleteCar)="onDeleteCar($event)"
  ></app-car-details>
    </div>
  }
  </div>
  </div>
  </div>
</div>
</section>

