<div class="car-card ">
    <div class=" car-card-image">
      <img [src]="car()?.imageUrl"
        alt="{{ car()?.make}} {{ car()?.model }}"
           loading="lazy"
      />
    </div>

    <div class="col-md-8">
      <div class="card-content">
        <h6 class="mb-1">{{ car()?.make }} {{ car()?.model }}</h6>
        <p class="text-muted small mb-0">
          Colour: {{ car()?.color }}
        </p>
        <p>
          <strong>Price:</strong> £{{ car()?.price }}
        </p>
      </div>
    </div>

  <button class="favourite-btn" (click)="onFavouriteClick()">
    <i class="bi"
    [ngClass]="isFavourite() ? 'bi-heart-fill text-danger' : 'bi-heart'"
    ></i>
  </button>
  </div>
